.navbar
{
  background-color:cadetblue;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.site-title
{
    font-size: 2rem;

}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.navbar a {
  color: white;
  text-decoration: none;

}